<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
      html { height: 100% }
      body { font-family: "Lato"; color: "#800080" ; sans-serif;height: 100%; margin: 0; padding: 0;background: brown !important; }
      p{color:gold;}
      h3{color:gold;}
      #container{background: teal !important}
      #container2{background: teal !important}
      #button {width:45%;}
      #newDiv {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: lightgreen;
    margin-top:20px;
}
      #i{
        width:100px;
        height:100px;
      }
    </style>
</head>

<% include template %>

<body background="background" >

	
	<!-- Header Carousel -->
	<header id="myCarousel" class="carousel slide" style="max-width: 600px; margin: 0 auto; margin-top:50px">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
			<li data-target="#myCarousel" data-slide-to="5"></li>

		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill"
					style="background-image: url('../images/image4.PNG');"></div>
				<!--<img class="img-responsive img-full" src="img/slide-2.jpg" style="width:640px;height:360px alt="" >-->
				<!-- for including an image do this -->
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('../images/image6.PNG');"></div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('../images/image3.PNG');"></div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('../images/image1.png');"></div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('../images/image5.PNG');"></div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('../images/image2.PNG');"></div>
			</div>
			
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span class="icon-next"></span>
		</a>
	</header>
	
	<!-- Page Content -->
	<div class="container">

	

		<!-- Features Section -->
		<div class="row">
			<div class="col-lg-12">
				<h3 style="color:black;" class="page-header" >Illegal Dumping</h3>
				
				<p>One of many predicaments faced in the modern era of large scale consumption and cheap availability of household goods has yielded the problem of illegal dumping.The predicament being faced is caused when people start illegally dumping their household goods such as furniture, electronics et al in the neighbouring streets and water bodies, in an attempt to avoid the cost of transporting these goods to dumping or recycling stations. Various cities including the city of San Jose have taken retrospective measures such as offering a complaint helpline which to some extent has helped address the issue of visual blight. Recently environmental services of San Jose have started a bi-annual free pickup service of large items. It is to be seen whether this measure will counteract the problem of illegal dumping. There have been no substantial technological efforts to address this problem, thus giving us the opportunity to utilize technological advancements to eradicate this menace.</p>
                
                <h3 style="color:black;" class="page-header">Effects of Illegal Dumping</h3>
				
				<p>Illegal dumping is causing the obvious problem of visual blight and also polluting the environment by air and water. To clean the waste materials dumped through Illegal dumping, Authorities have been spending millions of dollars of taxpayer’s money. This is a wastage of money to the Government.
				</p>

				<h3 style="color:black;" class="page-header">Existing Solutions</h3>
				<p>For reporting against Illegal Dumping, the existing solution is just informing the authorities by phone call. But nowadays people are so busy such that they cannot make a phone call and inform the authorities about illegal dumping incidents. As there is no other efficent method, many people are not able to help the authorities to catch Illegal Dumpers.</p>
					
				<h3 style="color:black;" class="page-header">Our Vision</h3>
				
				<p>This initiative aims to empower the people to know about the Effects of Illegal dumping and also to encourage the people to report the incidents of Illegal dumping through Mobile applications by a single click. Then we collect the location details of that user and identify that location as a dumping prone area. If multiple reports occured about a location then that location will be treated as illegal dumping hot spot and we will establish a flash camera and process the images and therby deliver the vehicle identity or the person idenity to the Law Enforcement Authorities to capture the Illegal Dumpers and mitigate the problem of Illegal Dumping. 
					
			</div>
		</div>
		<!-- /.row -->

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Dump Trace 2017</p>
				</div>
			</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script src="../lib/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../lib/bootstrap.min.js"></script>

	<!-- Script to Activate the Carousel -->
	<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
