 

      <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
</head>
<body>
<div id="r">
<span id="myspan" style="font-size:20px;cursor:pointer" onclick="myFunction()" >&#9776;&nbsp&nbspThe Dumping Hot Spots are:
 </span>
<br></br>
</div>
<ul id="myList">
  
</ul>
<script>
  var config = {
  apiKey: "AIzaSyBH5uLSlvmVZnmsQheQjWzgaoeOwPZsciA",
  authDomain: "dumptrace.firebaseapp.com",
  databaseURL: "https://dump-trace.firebaseio.com/",
  storageBucket: "gs://dump-trace.appspot.com",
  
};
firebase.initializeApp(config);
</script>
<script>
var storage = firebase.storage();
var database=firebase.database();

var storageRef = storage.ref();
var imagesRef = storageRef.child('photos');

window.onload=function myFunction() { 
       var count=0;
        <% val.forEach(function(elem){ %>
         
   <% elem.forEach(function(eleme){ %>
            
  <script type="text/html">
  

  </script>
     
        <% });%>

     <% });%>


    
  
}


</script>
 
<div class="container">
  
  <div class="panel panel-default">
  <button type="button" class="panel-heading" data-toggle="collapse" data-target="#i">Panel Master</button>
 <div id="i" class="row">
 <div class="col-md-4">
   <img style="width:100%;height:150px" ng-src="{{item.imagePath}}"/>
 </div>
 
    <div class="col-md-6">
    <div class="panel panel-default">
    <button type="button" id="main" class="panel-heading" data-toggle="collapse" data-target="#demo">Panel Master</button>
  <div id="demo" class="panel-heading">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>   
  </div>
   </div>
   
</div>
</div>



</body>
</html>